body{
    background-color: black;
}
#E-web{
     
    background-color: white;
    height: 3000px;

}
#rest_of_body{
    
    margin: 50px;
    

}


#mainheader{
    display: flex;
    
    
}

#dribble a{
    text-decoration: none;
    color: black;
    font-family: 'Pacifico';
    font-size: 30px;
}
#dribble a:hover{
    color: grey;
}
.navbar {
    overflow: hidden;
    background-color: white;
    padding-left: 30px;
  }
  .navbar a {
    float: left;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .dropdown {
    float: left;
    overflow: hidden;
  }
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  .navbar a:hover, .dropdown:hover .dropbtn {
    color:  rgb(13,12,34);

  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px white;
    z-index: 1;
  }
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .search{
    height: 25px;
    margin-top: 15px;
  }
  #top-right{
    display: flex;
    margin-left: 250px;
    
  }
  .ring-container {
    position: relative;
    margin-top: 0px;
    
}

.circle {
    width: 15px;
    height: 15px;
    background-color: #62bd19;
    border-radius: 50%;
    position: absolute;
    top: 23px;
    left: 23px;
}

.ringring {
    border: 3px solid #62bd19;
    -webkit-border-radius: 30px;
    height: 25px;
    width: 25px;
    position: absolute;
    left: 15px;
    top: 15px;
    -webkit-animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite; 
    opacity: 0.0
}
@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}
.Sajjad{
    display: flex;
}
.favs{
    height: 20px;
    margin-top: 20px;
    padding: 10px;
}
.rightmost_button{
    width: 100px;
    height: 30px; 
    margin-top: 20px;
    border-radius: 30px;
    border: none; 
    background-color: rgb(13,12,34);
}
.rightmost_button a{
    text-decoration: none; 
    color: white;
}
#sajFav{
    display: flex;
}
#favy{
    margin-left: 200px;
    display: flex;
    margin-top: 20px;
}
#Sajjad_container{
    border: none;
}
#nav2{
  display: flex;
  margin-left: 20px;
  margin-top: 10px;
}
#nav2 a{
  text-decoration: none;
  color: grey;
  padding: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: small;

}
#nav2 a :hover{
  text-decoration: underline;
  color: black;
}
header{
  display: flex;
  margin-left: 50px;
  
}
.april1{
  margin-top: 10px;
  color: grey;
}
.april2{
  margin-top: 20px;
  margin-left: 350px;
}
.hApril{
  font-size:40px; 
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(51,51,51);
  
}
#laugh{
  display: flex;
  text-align: center;
  
  
}
#words{
  margin-top: 200px;
  margin-left: 150px;

}

.laughing{
  margin-top: 50px;
  position: absolute;
  height: 500px;
  margin-left: 500px;
  
  
}
#simple{
  font-size: 50px;
  color: rgba(36, 6, 6, 0.918);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#hash{
  color: rgba(36, 6, 6, 0.918);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size:x-small;
  margin-top: 5px;
}
#explore{
  background-color:rgba(36, 6, 6, 0.918) ;
  color: white;
  height:30px;
  width: 100px;
  border: none;
}